/* Google Fonts */ /* Atalho para comentar Shift+alt+a */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');



/*Tema Dark*/
:root, :root[data-theme='dark']{
    --primary-color: #f0f0f0; /*cor principal dos textos*/
    --primary-bg-color: #2c2c2e; /*cor principal fundo*/
    /*bg= background == cor de fundo*/
    --secondary-bg-color: #28292E;

    --primary-border-color: #28292E;
    --secondary--border-color: #f0f0f0;

    --title-color: #f0f0f0;
    --link-color: #8f8f8f;
    --link-hover: #f0f0f0;
    --icon-color: #C7C8C9;

}
/*TEMA LIGHT*/
:root[data-theme='light']{
    --primary-color: #000; /*cor principal textos*/

    --primary-bg-color: #f0f2f5;
    --secondary-bg-color: #C7C8C9;
    
    --primary-border-color: #C7C8C9;
    --secondary--border-color: #9A9A9c;
    
    --title-color: #0b0b0f;
    --text-color: #a3a2a2;
    --link-color: #0b0b0f;
    --icon-color: #56575a;
}

* {
    margin: 0; /*margem*/
    padding: 0; /*preenchimento*/
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

body{
    background: var(--primary-bg-color); /*cor de fundo */
    color: var(--primary-color); /*cor geral dos textos*/
     font-family: '';
}

a{
    text-decoration: none;
}

a:hover {
    color: var(--primary-color)
}

i {
    color: var(--link-color);
}

.header {
    display: flex;
    flex-flow: row wrap;
    /* Coloca o conteúdo em linha e permite a quebra de linha*/
    justify-content: space-between;/*Definir o alinhamento dos itens ao longo do eixo principal. */
    /* Os itens dentro do container flexível serão distribuídos
    de maneira uniforme ao longo do eixo principal, com espaços
    iguais entre eles.*/
    align-items: center;
    width: 100;
    padding: 0.5rem 1rem;
    z-index: 2;
}

.header-logo .logo {
    width: 3.25rem;
    height: 3.25rem;
}
